body{
    font-size: 10px;
}
#impression{
    display: none;
}
#impression2{
    display: none;
}
#dvContainer{
    margin-top: 0px;
}
header{
    display: none;
}
#fbl{
    display: none;
}
.fbl{
    display: none;
}
#watermark{
    display: none;
    color: #d0d0d0;
    font-size: 200pt;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    left:-100px;
    top:-200px;
}  
